.hero{
    height: 100%;
    margin: 4rem 0 2rem 0;
    background-color: var(--bg-color);
    position: relative;
    
    & .hero-content{
        padding: 1rem;

        & .hero-heading{
            font-size: 5rem;
            font-weight: bolder;
            padding: 2rem;
        }

    }

    & .hero-link{
        font-size: 4rem;
        color: var(--main-color);
    }

    & .hero-img{
       margin: 0 auto;
        padding: 1rem;
        width: 38rem;
        height: auto;
        border-radius: 50%;
    }
}

/* Waves */
.custom-shape-divider-bottom-1765292932 {
    
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1765292932 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 110px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1765292932 .shape-fill {
    fill: #FFFFFF;
}